.accordion {
  text-align: center;
}
.accordion-section {
  display: inline-block;
  /* border: 3px solid #eee8e1; */
  background: #f7f5f3;
  padding: 5px;
  border-radius: 200px;
  width: 80px;
  height: 80px;
  margin: 5px;
}
.accordion-carat {
  float: right;
  color: #ffa029;
}
.accordion-section-content {

  background: #ffa029;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
}
.accordion-section-label {
  font-size: 55px;
  color: #ffa029;
  line-height: 80px;
}
