.grid-items {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1em;
}
.grid-items::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-items > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-items > * {
  border-radius: 15em;
  color: #ffa029;
  font-size: 2.5em;
}
.grid-item{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 3em;
}
.grid-item.selected{
  background: #ffa029;
color:white;
}

.header {
  width: 100%;
  height: 2em;
  line-height: 2em;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
  text-transform: uppercase;
}


